body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header li{
    display: inline;
    margin: 30px;
}
header a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
header ul{

    margin-bottom: 100px;
}


header{
    padding: 10px;
    background-image: url("image1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-blend-mode: color-dodge;
    height: 100vh;
}
.but{
    height: 45px;
    margin: 20px;
    background-color: rgb(228, 15, 15);
    color: white;
    border: none;
    border-radius: 5px;
    
}
.but1{
    height: 45px;
    background-color: transparent;
    color: white;
    border: 3px solid white;
    border-radius: 5px;
    margin-top: 40px;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    
}
.text{
  font-family: 'Quicksand', Courier, monospace;
  width:900px;
  text-align: justify;
  text-align-last: center;
  position: relative;
  left: 16%;
  text-align: center;
  color: white;

}
.text h1{
    font-weight: bolder;
    font-size: 45px;
}
.text p{
    font-size: 20px;
}
.image{
    width: 400;
    height: 300;
    size: 100px;
}
.text2{
    font-size: 20px;
    width: 700px;
    position: relative;
    left: 5%;
    
    
}
.but3{
    height: 45px;
    margin: 20px;
    background-color: rgb(228, 15, 15);
    color: white;
    border: none;
    border-radius: 5px;
    position: relative;
    left: -3%;

    
}
.joint{
    position: relative;
    left: 58%;
    margin-top: -300px;
}
.joint1{
    position: relative;
    left: 73%;
    margin-top: -100px;
}
.text3{
    font-size: 40px;
    width: 700px;
    position: relative;
    left: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.copy{
    text-align: center;
}
.line{
    color: yel;
}
hr{
    border-color: red;
    
}
